body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  /* background: url(https://img.freepik.com/free-vector/pop-art-comic-background-with-halftone-color-funny-cloud_91128-1395.jpg) center;  */
  font-family: Arial, sans-serif;
}

.main {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin: 0;
  font-size: 18px;
}


.gradient {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(45deg, #2FEBA1, #2FB8EB,#2FEBE1,#2FEB62,#2F7DEB,#7DEBE5);
}
